p 
{
font-size:36px;
font-family:"Arial";
}

#team_name
{font-size:24px;
}

td
{
padding-left:2px;
padding-right:2px;
border:1px solid black;
}

table
{
border-collapse:collapse;
}

#team_name
{
font-family:"Arial";
border:0px;
}

#no-outline
{
padding-left:1%;
padding-right:1%;
border:0px;
vertical-align:top;
}
